# Python
__pycache__/
*.pyc
*.pyo
.python-version

# Virtual environment
.venv/
venv/

# Environment variables
.env

# Database
*.db
*.sqlite
*.sqlite3

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Pyright
pyrightconfig.json
